
main{
  width:auto;
}
header{
  width:auto;
  height: 90px;
  border-bottom: 5px solid #f2f2f2;
}
.header-ul :first-child, .header-ul :nth-child(2){
  position: relative;
  top: 20px;
}
.header-ul li :hover{
  border-bottom: 5px solid #0065fc;
  padding-bottom: 15px;
  border-top: hidden;
}
.header-ul :nth-child(3){
  position: relative;
  right:20px;
  font-size: 1.2em;
  font-weight: bold;
}
.header-ul :first-child{
  position: relative;
  left: -10px;
}
.header-ul :nth-child(2){
  position: relative;
  top: 20px;
  left:78px;
}
.bloc-svg{
  width:150px;
  height: 50px;
  margin-right: -70px;
  position: relative;
  left:20px;
}
svg{
  width:100%;
}
header+p{
  font-size: 1.65em;
  margin-left: 22px;
}
header+p+p{
  margin-top: -12px;
  font-size: 1.2em;
  margin-left: 22px;
}
label{
  display:none;
}
form span{
  display: inline;
  color:white;
  border: 1px solid #0065fc;
  border-radius: 10px;
  padding: 8px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #0065fc;
  margin-left: -10px;
}
.body-div, footer, .activites-images, .div-filtres{
  display: flex;
  flex-direction: column-reverse;
}
.section-hebergements, .activites-images{
  margin-top: 50px; 
  margin-bottom: 850px;
}
footer, .activites-images, .div-filtres{
  flex-direction: column;
}
.section-activites{
  margin-bottom: 87em;
}

.filtres li{
  border: none;
  margin-right: 30px;
  margin-bottom: 50px;
}
.filtres pre {
  border: 2px solid #f2f2f2;
  border-left: 2px solid transparent;
  border-radius: 40px;
  position: relative;
  top: -57px;
  left:-40px;
  padding: 12px;
  padding-top: 8px;
  padding-left: 55px;
  margin-right: 30px;
 
}
.filtres i{
  position: relative;
  top: 1.5px;
  left:-39px;
}
.filtres .filtre-romantique{
  position: relative;
  top: -1.5px;
  left:-29em;
}
.fas.fa-heart{
  position: relative;
  top: 56px;
  left: -29em;
}
.filtres .filtre-animaux{
  position: relative;
  top: 56px;
  left:-43.1em;
  padding-left:55px;
}
.fas.fa-dog{
  top: 7.1em;
  left: -43em;
}
.div-filtres + p{
  margin-top: 0px;
}
aside{
 min-width:90%;
 border-radius: 0;
}
.section-hebergements{
  background-color: transparent;
}
.hebergement-image1, .hebergement-image2, .hebergement-image3, .hebergement-image4, .hebergement-image5, .hebergement-image6{
  box-shadow: 0px 3px 2px #f4f4f4;
  margin-bottom: 40px;
}
.activites-images{
  margin-left: -170px;
}
footer div{
  margin:auto;
}
.footer-child2, .footer-child3{
  margin-left: 140px;
}

