body{
  max-width: 90%;
  margin: 2%;
  /* Mettre les largeurs en % 
  les couleurs en hex
  appliquer le principe DRY
  */
}
footer, aside, .section-hebergements{
  background-color: #f2f2f2;
}
.footer-child2, .footer-child3{
  margin-left: 200px;
}
footer, header, .header-ul, .body-div1, .filtres, .activités-images, .section-activites, .div-hebergements{
  display: flex;
  flex-direction: row;
}
header, .header-ul{
  justify-content: space-between; 
}
.filtres{
    justify-content: flex-start;
  }
nav ul, .filtres{
  list-style-type: none;
}
.body-div1, .section-activites{
    margin-bottom: 50px;
}
.header-nav{
  margin-right: 1.5%;
}
.header-ul :nth-child(2){
 margin-left: 60px ;
 margin-right: 60px ;
}
.filtres li {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  margin-right: 50px;
}
.body-div1{
  width: 100%;
 
}
.section-hebergements h3{
 padding-left: 3%;
}
aside h3{
  padding-left: 6%;
}

.section-hebergements{
  width: 70%;
  padding-top: 20px;
  border-radius: 20px;
  margin-right: 4%;
  height: 555px ;

}
.div-hebergements div{
  margin: 10px;
}
.hebergement-image1{
  background: url("images_hebergement/auberge_de_la_cannebière.jpg")  no-repeat;
}
.hebergement-image2{
  background: url("images_hebergement/Hotel_du_port.jpg")  no-repeat;
}
.hebergement-image3{
  background: url("images_hebergement/Les_mouettes.jpg")  no-repeat;
}
.hebergement-image4{
  background: url("images_hebergement/Hôtel_de_la_mer.jpg")  no-repeat;
}
.hebergement-image5{
  background: url("images_hebergement/Le_panier.jpg")  no-repeat;
}
.hebergement-image6{
  background: url("images_hebergement/amina.jpg")  no-repeat;
}
.hebergement-image1, .hebergement-image2,.hebergement-image3,.hebergement-image4,.hebergement-image5,.hebergement-image6{
  width: 200px;
  height: 175px;
  border: 5px solid white;
  border-radius: 20px;
  background-color: white;
}
.hebergement-image1 p, .hebergement-image2 p,.hebergement-image3 p, .hebergement-image4 p,.hebergement-image5 p,.hebergement-image6 p{
  position: relative;
  top:110px;
}
.div-hebergements{
  align-content: space-around ;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
aside{
  max-width: 33%;
  border-radius: 20px;
  padding-top: 20px;
  height: 555px ;
}
.populaires-image1{
  background: url("images_hebergement/Hôtel_Le_soleil_du_matin.jpg")  no-repeat;
}
.populaires-image2{
  background: url("images_hebergement/Au_coeur_de_l'eau.jpg")  no-repeat;
}
.populaires-image3{
  background: url("images_hebergement/Tout_bleu_et_blanc.jpg")  no-repeat;
}
.populaires-image1, .populaires-image2, .populaires-image3{
  width:334.34px;
  height:130px;
  border: 4px solid white;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  margin-top: 25px;
}
.populaires-image1 p, .populaires-image2 p, .populaires-image3 p{
  position: relative;
  left:130px;
}

.section-activites{
  width:100%;
  height: 530px;
  flex-direction: column;
  flex-wrap:wrap;
  margin-left: 2%;
}
.activités-images{
  justify-content:space-around;
  margin-left: -3.8%;
}
.activités-image1, .activités-image4{
  width: 270px;
  height:445px;
  border: black 3px solid;
  border-radius: 20px;
  margin: 5px;
}
.activités-image2, .activités-image6 {
  width: 270px;
  height:250px;
  border: 3px black solid;
  border-radius: 20px;
  margin-top: 2px;
}
.activités-image3, .activités-image5{
  width: 270px;
  height:170px;
  border: 3px black solid;
  border-radius: 20px;
}
.activités-image1 p, .activités-image4 p{
position:relative;
top:390px;
}
.activités-image2 p, .activités-image6 p{
position:relative;
top:100px;
}
.activités-image3 p, .activités-image5 p{
  position:relative;
  top:115px;
}
.activités-image1{
background: url("Le_vieux_port.jpg") no-repeat;
}
.activités-image2{
  background: url("Pomegues.jpg") no-repeat;
  margin-bottom: 23px;
}
.activités-image3{
  background: url("") no-repeat;
}
.activités-image4{
  background: url("") no-repeat;
}
.activités-image5{
  background: url("") no-repeat;
  margin-bottom: 25px;
}
.activités-image6{
  background: url("") no-repeat;
}
footer{
  justify-content: flex-start;
  
}
footer div{
  margin-left:100px;
}

