body{
  width:98%
}
footer, aside, .section-hebergements{
  background-color: #f2f2f2;
}
footer, header, .header-div1, .body-div1, .filtres{
  display: flex;
  flex-direction: row;
}
header, .header-div1{
  justify-content: space-between; 
}
.filtres{
    justify-content: flex-start;
  }
nav ul, .filtres{
  list-style-type: none;
}
.body-div1, .section-activites{
    margin-bottom: 50px;
    }
.footer-child2, .footer-child3{
  margin-left: 200px;
}

.header-div1{
  margin-right:7%;
}
.header-div1 :nth-child(2){
 margin-left: 60px ;
 margin-right:  50px ;
}

.filtres li {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  margin-right: 50px;
}
.body-div1{
  height: 627.87px ;
}
.section-hebergements{
  width: 61%;
  margin-right: 2.8%;
}
.hebergement-image1{
  width: 235px;
  height: 175px;
  border: 3px solid white;
  border-radius: 20px;
  background: url("auberge\ de\ la\ cannebière.jpg")  no-repeat;
  background-color: white;
}
.hebergement-image1 p{
  position: relative;
  top:110px;
}

aside{
  width: 32.6%;
}
.section-activites{
  width:93.4%;
  height: 530px;
  border: black 1px solid;
}

footer{
  justify-content: flex-start;
  max-width:105%
}

