body{
  
  margin: auto;
  /* Mettre les largeurs en % 
  les couleurs en hex
  appliquer le principe DRY
  */
}
footer, aside, .section-hebergements{
  background-color: #f2f2f2;
}
footer, header, .header-div1, .body-div1, .filtres, .activités-images{
  display: flex;
  flex-direction: row;
}
header, .header-div1{
  justify-content: space-between; 
}
.filtres{
    justify-content: flex-start;
  }
nav ul, .filtres{
  list-style-type: none;
}
.body-div1, .section-activites{
    margin-bottom: 50px;
    }
.footer-child2, .footer-child3{
  margin-left: 200px;
}

.header-div1{
  margin-right:7%;
}
.header-div1 :nth-child(2){
 margin-left: 60px ;
 margin-right:  50px ;
}

.filtres li {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  margin-right: 50px;
}
.body-div1{
  height: 627.87px ;
}
.section-hebergements{
  width: 61%;
  margin-right: 2.8%;
}
.hebergement-image1{
  background: url("auberge_de_la_cannebière.jpg")  no-repeat;
}
.hebergement-image2{
  background: url("Hotel_du_port.jpg")  no-repeat;
}
.hebergement-image3{
  background: url("Les_mouettes.jpg")  no-repeat;
}
.hebergement-image4{
  background: url("Hôtel_de_la_mer.jpg")  no-repeat;
}
.hebergement-image5{
  background: url("Le_panier.jpg")  no-repeat;
}
.hebergement-image6{
  background: url("amina.jpg")  no-repeat;
}
.hebergement-image1, .hebergement-image2,.hebergement-image3,.hebergement-image4,.hebergement-image5,.hebergement-image6{
  width: 220px;
  height: 175px;
  border: 5px solid white;
  border-radius: 20px;
  background-color: white;
  margin: 10px;
}
.hebergement-image1 p, .hebergement-image2 p,.hebergement-image3 p, .hebergement-image4 p,.hebergement-image5 p,.hebergement-image6 p{
  position: relative;
  top:110px;
}
.div-hebergements{
  display:flex;
  flex-wrap: wrap;
  align-content: space-around ;
}
aside{
  width: 32.6%;
}
.populaires-image1{
  background: url("Hôtel_Le_soleil_du_matin.jpg")  no-repeat;
}
.populaires-image2{
  background: url("Au_coeur_de_l'eau.jpg")  no-repeat;
}
.populaires-image3{
  background: url("Tout_bleu_et_blanc.jpg")  no-repeat;
}
.populaires-image1, .populaires-image2, .populaires-image3{
  width:334.34px;
  height:130px;
  border: 3px solid white;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
}
.populaires-image1 p, .populaires-image2 p, .populaires-image3 p{
  position: relative;
  left:130px;
}

.section-activites{
  width:93.4%;
  height: 530px;
  border: black 1px solid;
  display:flex;
  flex-wrap:wrap;
}

.activités-image1, .activités-image4{
  width: 305px;
  height:445px;
  border: black 3px solid;
  border-radius: 20px;
  margin: 10px;
}
.activités-image2, .activités-image3, .activités-image5, .activités-image6 {
  width:200px;
  height:135px;
  border: 3px black solid;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
footer{
  justify-content: flex-start;
  max-width:105%
}

