body{
  width: 98%;
  font-size: 4.5vw;
}
main{
  margin-left: auto;
  margin-right:auto;
  justify-content: center;
}
header{
  width:110%;
  height: 20vw;
  border-bottom: 4px solid #f2f2f2;
  margin-left: -20px;
  margin-top: 20px;
  flex-grow: 1;
}

.header-ul a{
  position: relative;
  top: 40px;
  padding-bottom: 3vw;
  border: 1px solid blue;
}
.header-ul :first-child a{
  left: -150px;
  padding-right: 45px;
  padding-left: 40px;
}
.header-ul :nth-child(2) a{
  padding-right: 60px;
  padding-left: 60px;
  left:-210px;
}
.header-ul :nth-child(3){
  position: relative;
  top: -15px;
  right:355px;
  font-size: 1em;
  font-weight: bold;
}
.header-ul a:hover{
  border-top: none;
  border-bottom: 4px solid #0065fc;
}
.bloc-svg{
  min-width: 80px;
  height: 50px; 
  position: relative;
  top: 0px;
  left:-10px;
  margin-left: 30px;
}
svg{
  width:100%;
}
header+p{
  font-size: 1.4em;
}
header+p+p{
  margin-top: -12px;
  font-size: 1em;
}
.fas.fa-map-marker-alt{
  padding: 20px;
  padding-top: 17.5px;
  padding-bottom:17px ;
  border-radius:15px 0 0 15px; 
}
#rechercher{
  border:1px solid #f2f2f2;
  width: 60%;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 5vw;
}
form p :nth-child(4){
  display: inline;
  color:white;
  border-radius: 10px;
  background-color: #0065fc;  
  margin-left: -18px;
  padding: 19px;
  padding-top: 18px;
  padding-bottom:15.5px ;
  border-radius:15px; 
}
form p :nth-child(3){
  display:none;
}
.body-div, footer, .activites-images, .div-filtres{
  display: flex;
  flex-direction: column-reverse;
}
.section-hebergements, .activites-images{
  margin-top: 50px; 
  margin-bottom: 850px;
}
footer, .activites-images, .div-filtres{
  flex-direction: column;
}
.filtres li{
  border: none;
  margin-right: 30px;
  margin-bottom: 50px;
}
.filtres pre {
  border: 2px solid #f2f2f2;
  border-left: 2px solid transparent;
  border-radius: 40px;
  position: relative;
  top: -57px;
  left:-40px;
  padding: 8px;
  padding-left: 55px; 
  margin-right: -20px;
}
.filtres i{
  position: relative;
  top: -1.5px;
  left:-40px;
  z-index: 1;
}
.filtres .filtre-romantique{
  position: relative;
  top: -1.5px;
  left:-22.3em;
  padding-top: 10px;
  padding-bottom: 8px;
}
.fas.fa-heart{
  position: relative;
  top: 56px;
  left: -22.4em;
  padding: 11px;
}
.filtres .filtre-animaux{
  position: relative;
  top: 56px;
  left:-32.9em;
  padding-top: 11px;
  padding-bottom: 7px;
  padding-left:55px;
}
.fas.fa-dog{
  top: 7.1em;
  left: -33em;
  padding: 11px;
}
.div-filtres{
  margin-top: -10px;
  margin-bottom: 50px;
}
.div-filtres + p{
  font-size: 4.5vw;
}
.fas.fa-info + span{
  position:relative;
  left: 40px;
}
aside{
  min-width:105%;
  margin-left:-6%;
  border-radius: 0;
  height:520px;
}
aside a, aside h3{
  position:relative;
  right:15px;
}
.fas.fa-chart-line{
  margin-left: 163px;
}
.populaires-image2,.populaires-image3{
  margin-top: -10px;
}
h3{
  font-size: 1em;
}


.section-hebergements{
  background-color: transparent;
  height: 75em;
  margin-top: 0px;
  margin-left: -5.5%;
  margin-bottom: 112vh;
  min-width: 110%;
}
.hebergement-image1{
  background: url("images_hebergement/marcus-loke-WQJvWU_HZFo-unsplash.jpg")  no-repeat ;
}
.hebergement-image2{
  background: url("images_hebergement/fred-kleber-gTbaxaVLvsg-unsplash.jpg")  no-repeat;
}
.hebergement-image3{
  background: url("images_hebergement/reisetopia-B8WIgxA_PFU-unsplash.jpg")  no-repeat;
}
.hebergement-image4{
  background: url("images_hebergement/annie-spratt-Eg1qcIitAuA-unsplash.jpg")  no-repeat;
}
.hebergement-image5{
  background: url("images_hebergement/nicate-lee-kT-ZyaiwBe0-unsplash.jpg")  no-repeat;
}
.hebergement-image6{
  background: url("images_hebergement/febrian-zakaria-M6S1WvfW68A-unsplash.jpg")  no-repeat;
  margin-bottom: -15px;
}
.hebergement-image1,.hebergement-image2,.hebergement-image3,.hebergement-image4,.hebergement-image5,.hebergement-image6{
  width:70vw;
  height:10em;
  margin-left:0;
  margin-bottom: 10px;
  background-size: 70vw; 
}
.hebergement-image1 p,.hebergement-image2 p,.hebergement-image3 p,.hebergement-image4 p,.hebergement-image5 p,.hebergement-image6 p{
  font-size:3vw;
  position:relative;
  top: 24vw;
  left: 0vw;
}
.tarif{
  border: dotted 3px green;
  margin: 7vw 0;
}
.hebergement-rating{
  position:relative;
  top:  14vw;
  left: 3.5vw;
  margin: 7vw 0;
}
.fas.fa-star{
  font-size:2.5vw;
}
.hebergement-image3,.hebergement-image6{
  margin-left: 20px;
}



.section-activites{
  margin-top: -45em;
  margin-bottom: 0vh;
  height: 75em;
}
.activites-images{
  margin-left:-12em;
}
.section-activites h3{
  position: relative;
  left: 0vw;
}
.activites-image1{
  background: url("images_activités/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg") no-repeat;
  margin-top: 20px;
  }
  .activites-image2{
    background: url("images_activités/paul-hermann-QFTrLdQIRhI-unsplash.jpg") no-repeat;
  }
  .activites-image3{
    background: url("images_activités/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg") no-repeat;
  }
  .activites-image4{
    background: url("images_activités/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg") no-repeat;
  }
  .activites-image5{
    background: url("images_activités/florian-wehde-xW9e8gdotxI-unsplash.jpg") no-repeat;
  }
  .activites-image6{
    background: url("images_activités/lena-paulin-wH2-EJoDcV0-unsplash.jpg") no-repeat; 
  }
.activites-image1,.activites-image2,.activites-image3,.activites-image4,.activites-image5,.activites-image6{
  width:70vw;
  height:10em;
  margin-left:0;
  margin-bottom: 20px;
  background-size: 70vw;
}
.activites-image1 p,.activites-image2 p,.activites-image3 p,.activites-image4 p,.activites-image5 p,.activites-image6 p{
  font-size:4vw;
  position:relative;
  top: 20vh;
  left: 2vw;
  }



  footer{
    width:106%;
    margin-left:-3%;
  }
  footer div,.footer-child2, .footer-child3{
    margin-left: 4em;
    margin-bottom:15px;
  }